In [3]:
from math import gcd
n1=12
n2=30
smaller=min(n1,n2)

for i in range(1,smaller+1):
    # if (n1%i==0) and (n2%i==0):
    #     hcf=i
    #     break 
    print(i,end=' ')
print(hcf)

1 2 3 4 5 6 7 8 9 10 11 12 1

In [6]:
counter={"Vowels":0,"Consonants":0} # Initialize a counter dict for counting
s="Hello,World"

for char in s:
    if char in ('a','e','i','o','u'):
        counter['Vowels']+=1 # It add 1 if char is vowel
    if char.isalpha() and char not in ('a','e','i','o','u'): # it also check wheather a char is a symbol or not and also check that it is not vowel
        counter['Consonants']+=1 # Add 1 to dict counter

for key,value in counter.items():
    print(f"Number of {key}: {value}")

Number of Vowels: 3
Number of Consonants: 7

In [8]:
vowels=('a','e','i','o','u')
vowels_counter=0
consonant_counter=0
for c in s:
    if not c.isalpha(): # it checks if character is not a symbol like , ! ? - = etc if exist it ignore it
        continue
    
    elif c in vowels:
        vowels_counter+=1
    else:
        consonant_counter+=1
print(f"Number of Vowels {vowels_counter}\nNumber of Consonants: {consonant_counter}")

Number of Vowels 3
Number of Consonants: 7

In [1]:
import os,pathlib,yaml
home_dir=pathlib.Path(os.getcwd().rsplit("notebooks")[0])
params_file = home_dir.as_posix() + '/config.yaml'
paths = yaml.safe_load(open(params_file))

In [41]:
import pandas as pd 
df=pd.read_csv(r"C:\Users\mrqad\Downloads\data-science-pandas-case-studies-apps\data\raw\startup_funding.csv")

In [2]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [42]:
df.set_index("Sr No", inplace=True)
df.drop('Remarks', axis=1, inplace=True)
df.rename(columns={"Date dd/mm/yyyy": "Date", "City  Location": "City", "Startup Name": "Startup",
                           'Industry Vertical': "Vertical", 'InvestmentnType': "Round", "Investors Name": "Investors",
                           'Amount in USD': "Amount"}, inplace=True)
# df['Amount'] = df['Amount'].fillna("0")
# df['Amount'] = df["Amount"].str.replace("undisclosed", "0")
# df['Amount'] = df["Amount"].str.replace("unknown", "0")
# df['Amount'] = df["Amount"].str.replace("Undisclosed", "0")
# df['Amount'] = df['Amount'].str.replace(",", '')
# df = df[df['Amount'].str.isdigit()]
# df['Amount'] = df['Amount'].apply(lambda dollar: (dollar * 82.5) / 10000000)
# df["Date"] = df["Date"].str.replace("05/072018", "05/07/2018")
# df["Date"] = pd.to_datetime(df["Date"], errors='coerce')
# df.dropna(subset=['Date', 'Startup', 'Vertical', 'City', 'Investors',
#                           'Round', 'Amount'], inplace=True)

In [21]:
def fix_amount(df):
    df['Amount'] = df['Amount'].fillna("0")
    df['Amount'] = df["Amount"].str.replace("undisclosed", "0")
    df['Amount'] = df["Amount"].str.replace("unknown", "0")
    df['Amount'] = df["Amount"].str.replace("Undisclosed", "0")
    df['Amount'] = df['Amount'].str.replace(",", '')
    df = df[df['Amount'].str.isdigit()]
    df['Amount']=df['Amount'].astype('float')
    df['Amount'] = df['Amount'].apply(lambda dollar: (dollar * 82.5) / 10000000)
    return df
fix_amount(df)

,Date,Startup,Vertical,SubVertical,City,Investors,Round,Amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,37.125000
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,6.806250
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,12.375000
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,0.000000
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,1.155000

In [6]:
df['Investors Name'].str.split(",")

0                 [Tiger Global Management]
1               [Susquehanna Growth Equity]
2                   [Sequoia Capital India]
3                          [Vinod Khatumal]
4                 [Sprout Venture Partners]
                       ...
3039          [Asia Pacific Internet Group]
3040                       [KARSEMVEN Fund]
3041      [Exfinity Fund,  GrowX Ventures.]
3042                           [MakeMyTrip]
3043    [UK based Group of Angel Investors]
Name: Investors Name, Length: 3044, dtype: object

In [43]:
df.drop('Remarks',axis=1,inplace=True)

KeyError: "['Remarks'] not found in axis"

In [10]:
df.set_index("Sr No",inplace=True)

In [17]:
df.columns

Index(['Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical', 'SubVertical',
       'City  Location', 'Investors Name', 'InvestmentnType', 'Amount in USD'],
      dtype='object')

In [21]:
df.rename(columns={"Date dd/mm/yyyy":"Date","City  Location":"City","Startup Name":"Startup",
                  'Industry Vertical':"Vertical",'InvestmentnType':"Round","Investors Name":"Investors",'Amount in USD':"Amount"},inplace=True)

In [22]:
df

,Date,Startup,Vertical,SubVertical,City,Investors,Round,Amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000"
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000"
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000"
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000"

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3044 non-null   object
 1   Startup      3044 non-null   object
 2   Vertical     2873 non-null   object
 3   SubVertical  2108 non-null   object
 4   City         2864 non-null   object
 5   Investors    3020 non-null   object
 6   Round        3040 non-null   object
 7   Amount       2084 non-null   object
dtypes: object(8)
memory usage: 214.0+ KB

In [44]:
df['Amount']=df['Amount'].fillna("0")
df['Amount']=df["Amount"].str.replace("undisclosed","0")
df['Amount']=df["Amount"].str.replace("unknown","0")
df['Amount']=df["Amount"].str.replace("Undisclosed","0")
df['Amount']=df['Amount'].str.replace(",",'')

In [45]:
df=df[df['Amount'].str.isdigit()]

In [46]:
import warnings
warnings.filterwarnings(action='ignore')
df['Amount']=df['Amount'].astype('float')

In [47]:
df['Amount']=df['Amount'].apply(lambda dollar: (dollar*82.5)/10000000)

In [48]:
df["Date"]=df["Date"].str.replace("05/072018","05/07/2018")

In [49]:
# df["Date"]=pd.to_datetime(df["Date"],errors='coerce',)
df['Date'] = pd.to_datetime(df['Date'],errors='coerce', format='%d/%m/%Y')

In [50]:
df.head()

,Date,Startup,Vertical,SubVertical,City,Investors,Round,Amount
Sr No,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000

In [51]:
df["Date"].dt.day

Sr No
1        9.0
2       13.0
3        9.0
4        2.0
5        2.0
        ...
3040    29.0
3041    29.0
3042    30.0
3043    30.0
3044    31.0
Name: Date, Length: 3029, dtype: float64

In [52]:
df.dropna(subset=['Date', 'Startup', 'Vertical', 'City', 'Investors',
       'Round', 'Amount'],inplace=True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2819 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2819 non-null   datetime64[ns]
 1   Startup      2819 non-null   object
 2   Vertical     2819 non-null   object
 3   SubVertical  2078 non-null   object
 4   City         2819 non-null   object
 5   Investors    2819 non-null   object
 6   Round        2819 non-null   object
 7   Amount       2819 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 198.2+ KB

In [54]:
df.to_csv("umarbhai2.csv",index=False)

In [55]:
umar=pd.read_csv(r"umarbhai2.csv",)
umar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2819 entries, 0 to 2818
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2819 non-null   object
 1   Startup      2819 non-null   object
 2   Vertical     2819 non-null   object
 3   SubVertical  2078 non-null   object
 4   City         2819 non-null   object
 5   Investors    2819 non-null   object
 6   Round        2819 non-null   object
 7   Amount       2819 non-null   float64
dtypes: float64(1), object(7)
memory usage: 176.3+ KB